<div class="section-styling">
  <h1 class="text-[#061734] carousel-title">Financing</h1>
  <div class="financing-cards flex">
    <a
      href="https://apply.snapfinance.com/?paramId=Hq1qQmOsEuVFOlP6bdRg2D3%2BxnW9U1eKtIkrDRYxxSNWnLK4%2F6jHOAnTCK%2F7zzpNLetIDKNFIju9Y4XGgFHeYZz8x5kaSPQUPe5WC%2BepMLM%3D&redirect=true"
      target="blank"
    >
      <div class="fc rounded-md">
        <img src="/assets/snap.png" draggable="false" alt="" />
      </div>
    </a>

    <a
      href="https://ams.acimacredit.com/discover/new?manifest_guid=apmf-6450499d-7eda-4dd2-bd2c-08089f729fde&utm_campaign=merchant"
      target="blank"
    >
      <div class="fc rounded-md">
        <img src="/assets/acima.png" draggable="false" alt="" />
      </div>
    </a>
    <a
      href="https://apply.koalafi.com/?dealerId=e4b6118e-e079-425a-bd9a-9650df10ff19&cm=Copy&dealerPublicId=e4b6118e-e079-425a-bd9a-9650df10ff19&ttaToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkZWFsZXJQdWJsaWNJZCI6ImU0YjYxMThlLWUwNzktNDI1YS1iZDlhLTk2NTBkZjEwZmYxOSIsIm5iZiI6MTY1NDg5NzY4NywiZXhwIjoxNjU0OTg0MDg3LCJpYXQiOjE2NTQ4OTc2ODd9.sReubDYY7-vV116TVTlqUXUhrNRfM17wAJ_04y4WucE"
      target="blank"
    >
      <div class="fc rounded-md">
        <img src="/assets/koalifi.png" draggable="false" alt="" />
      </div>
    </a>
  </div>
</div>
