<div class="section-styling">
  <h1 class="text-[#061734] carousel-title">Financing</h1>
  <div class="financing-cards flex">
    <a
      href="https://apply.snapfinance.com/snap-com/landing?paramId=xNur%2BAldYGGc%2FMeZGkj0FD3uVgvnqTCz&source=INTERNET"
      target="blank"
    >
      <div class="fc rounded-md">
        <img src="/assets/snap.png" draggable="false" alt="" />
      </div>
    </a>

    <a
      href="https://americanfirstfinance.com/app/?dealer=23447&loc=1&src=UA&usetextpin=Y"
      target="blank"
    >
      <div class="fc rounded-md">
        <img src="/assets/american.png" draggable="false" alt="" />
      </div>
    </a>
  </div>
</div>
