<div class="section-styling">
  <h1 class="text-[#061734] carousel-title">Gallery</h1>
  <div class="main-carousel mt-5">
    {%- for gallery in collections.gallery -%} {%- for img in gallery.data.img.slice(0,8)
    -%}
    <div class="carousel-cell mr-1">
      <img src="{{ img }}" class="rounded-md" draggable="false" />
    </div>
    {%- endfor -%} {%- endfor -%}
  </div>
  <div class="flex justify-between items-center mt-5">
    <a href="/p/gallery/"><p class="text-[#62F256]">View Full Gallery</p></a>
    <div class="controls-events">
      <button
        class="one-events bg-black text-white carousel-button button--previous rounded-md"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <button
        class="two-events bg-black text-white carousel-button button--next rounded-md"
      >
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>

<script>
  var elem = document.querySelector(".main-carousel");
  var flkty = new Flickity(elem, {
    cellAlign: "left",
    imagesLoaded: true,
    percentPosition: false,
    prevNextButtons: false,
    pageDots: false,
  });
  var previousButton = document.querySelector(".button--previous");
  previousButton.addEventListener("click", function () {
    flkty.previous();
  });
  var nextButton = document.querySelector(".button--next");
  nextButton.addEventListener("click", function () {
    flkty.next();
  });
</script>
