<div class="hero-section-index flex items-center justify-center flex-col">
  <div class="padding-hero">
    <h1 class="text-white">
      <span class="text-[#F2F4F3]">Where there is</span> Quality,
    </h1>
    <h1 class="text-white">
      <span class="text-[#F2F4F3]">There is no</span> Competetion!
    </h1>
    <button
      class="bg-[#028CFE] w-full py-3 px-1 rounded-md font-bold uppercase mt-2 text-[#F2F4F3] font-sans trigger"
    >
      Learn More About Us
    </button>
  </div>
</div>



<script>
  const modal = document.querySelector(".modal");
  const trigger = document.querySelector(".trigger");
  const closeButton = document.querySelector(".close-button");

  function toggleModal() {
    modal.classList.toggle("show-modal");
  }

  function windowOnClick(event) {
    if (event.target === modal) {
      toggleModal();
    }
  }

  trigger.addEventListener("click", toggleModal);
  closeButton.addEventListener("click", toggleModal);
  window.addEventListener("click", windowOnClick);
</script>
