<div class="hero-section-index flex items-center justify-center flex-col">
  <div class="padding-hero">
    <h1 class="text-white">
      <span class="text-[#F2F4F3]">Donde Hay</span> Calidad,
    </h1>
    <h1 class="text-white">
      <span class="text-[#F2F4F3]">No Hay</span> Competencia!
    </h1>
    <a href="https://google.com"
      ><button
        class="bg-[#028CFE] w-full py-3 px-1 rounded-md font-bold uppercase mt-2 text-[#F2F4F3] font-sans"
      >
        Aprende Mas Sobre Nosotros
      </button></a
    >
  </div>
</div>
