<div class="section-styling">
  <div
    class="servicios rounded-md flex items-center justify-center flex-col p-5"
  >
    <div class="content">
      <h1 class="text-[#061734] mt-[100px]">We Offer...</h1>

      {%- for services in collections.services -%}
      <p><i class="fas fa-angle-right mr-2"></i>{{ services.data.service }}</p>
      {%- endfor -%}
    </div>
  </div>
</div>
