<div class="section-styling">
  <h1 class="text-[#061734] carousel-title">Our Socials</h1>
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="https://cdn.lightwidget.com/widgets/14c4348c359055c6931d6933905a8698.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden"
  ></iframe>
  <div class="socials-sc flex">
    <a
      href="https://www.instagram.com/wheelprofl/"
      target="blank"
      class="sc rounded-md"
    >
      <div class="rounded-md">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
          alt=""
          class="block ml-auto mr-auto"
        />
      </div>
    </a>
    <a
      href="https://www.facebook.com/carmen.fortis.33"
      target="blank"
      class="sc rounded-md"
    >
      <div class="rounded-md">
        <img
          src="https://westwind.org/wp-content/uploads/2018/11/facebook-logo-png.png"
          class="block ml-auto mr-auto"
          alt=""
        />
      </div>
    </a>
  </div>
</div>
