<div class="grid grid-gallery" id="grid">
  {%- for gallery in collections.gallery -%} {%- for img in gallery.data.img -%}
  <div class="">
    <img src="{{ img }}" class="rounded-md" draggable="false" />
  </div>
  {%- endfor -%} {%- endfor -%}
</div>
